<!DOCTYPE html lang="en">
<html >

<head>
    <title>Adaugă proprietate</title>
</head>

<body ng-app='Grab a rent'>

<div class="container" style="margin-top: 50px;">
    <br><br>
    <div class="row row-content text-data">
        <form ng-submit="submit()">

            <div class="row row-content col-sm-3"> </div>
            <div id="general-form" class="row row-content col-sm-6">
                <legend>Adăugare anunț</legend>
                <div class="form-group">
                    <div class="form-group">
                        <label for="inputName">Nume</label>
                        <input type="text" class="form-control" id="inputName" ng-model='name'>
                    </div>
                    <div class="form-group">
                        <label for="inputPrice">Preț</label>
                        <input type="number" class="form-control" id="inputPrice" ng-model='price'>
                    </div>
                    <div>
                        <label for="inputPropType">Tip proprietate</label>
                        <select ng-model="propType" id="inputPropType">
                            <option value="apartament">Apartament</option>
                            <option value="house">Casă</option>
                        </select>
                    </div>
                    <div>
                        <label for="inputState">Stare</label>
                        <select ng-model="state" id="inputState">
                            <option value="decomandat">Decomandat</option>
                            <option value="semidecomandat">Semidecomandat</option>
                            <option value="nedecomandat">Nedecomandat</option>
                            <option value="vagon">Vagon</option>
                            <option value="circular">Circular</option>
                        </select>
                    </div>
                    <div ng-model="roomNr">
                        <label for="inputRoomNr">Număr camere</label>
                        <select ng-model="roomNr" id="inputRoomNr">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4+">4+</option>
                        </select>
                    </div>
                    <div>
                        <label for="inputUtilities">Utilități</label>
                        <select ng-model="utilities" id="inputUtilities">
                            <option value="none">Fără</option>
                            <option value="partial">Parțial</option>
                            <option value="complete">Complet</option>
                        </select>
                    </div>
                    <div>
                        <label for="inputFurniture">Mobilat</label>
                        <select ng-model="furniture" id="inputFurniture">
                            <option value="none">Fără</option>
                            <option value="partial">Parțial</option>
                            <option value="complete">Complet</option>
                        </select>
                    </div>
                    <div>
                        <label for="inputHeating">Sistem de încălzire</label>
                        <select ng-model="heating" id="inputHeating">
                            <option value="system">Încălzire centralizată</option>
                            <option value="own">Centrală proprie</option>
                            <option value="flat">Centrală bloc</option>
                            <option value="gas">Gaz</option>
                            <option value="other">Altele</option>
                        </select>
                    </div>
                    <div>
                        <label >Facilități</label><br>
                        <form action="/action_page.php" method="get">
                            <input type="checkbox"  ng-model='facilities' value="parking"> Parcare<br>
                            <input type="checkbox"  ng-model='facilities' value="negotiable"> Negociabil<br>
                            <input type="checkbox"  ng-model='facilities' value="AC"> Aer condiționat<br>
                        </form>
                    </div>
                    <div class="form-group">
                        <label for="inputMp">Metri pătrați</label>
                        <input type="number" class="form-control" id="inputMp" ng-model='mp'>
                    </div>
                    <div ng-model="constructionYear">
                        <label for="inputConstructionYear">An construcție</label>
                        <input type="number" class="form-control" id="inputConstructionYear" ng-model='constructionYear'>
                    </div>
                    <div ng-model="lvl">
                        <label for="inputLvl">Etaj</label>
                        <select ng-model="lvl" id="inputLvl">
                            <option value="-1" label="-1">
                            <option value="0" label="0">
                            <option value="1" label="1">
                            <option value="2" label="2">
                            <option value="3" label="3">
                            <option value="4" label="4">
                            <option value="5" label="5">
                            <option value="6" label="6">
                            <option value="7" label="7">
                            <option value="8" label="8">
                            <option value="9" label="9">
                            <option value="10" label="10">
                            <option value="11" label="11">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Adresă</label>
                        <input type="text" class="form-control" id="inputAddress" ng-model='address'>
                    </div>
                    <div>
                        <label for="inputImages">Adaugă o imagine</label>
                        <form action="/action_page.php" align="center">
                            <input  type="file" name="pic" accept="image/*" id="inputImages">
                        </form>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Descriere</label>
                        <input type="text" class="form-control" id="inputDescription" ng-model='description'>
                    </div>
                    <div align="center" class="row">
                        <input type="submit" id="addProperty" value="Adaugă proprietate" class="btn btn-success" onclick="">
                    </div>
                </div>
            </div>
            <div class="row row-content col-sm-3"> </div>
        </form>
    </div>
</div>
</body>
</html>